@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: white; }

body {
  background-color: black; }

a {
  text-decoration: none; }

.textDorado {
  color: wheat; }

.textBlanco, nav div ul li a:hover {
  color: white; }

.textNegro {
  color: black; }

.textGris {
  color: #5c5c5c; }

.bgNegro, #presentacionFr div h2 .accordion-button {
  background-color: rgba(0, 0, 0, 0.5); }

.bgClaro {
  background-color: rgba(225, 225, 225, 0.9); }

.bgDorado {
  background-color: #8e8472; }

.pointer {
  cursor: pointer; }

.btnFooter {
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: white;
  border-color: wheat; }
  .btnFooter:hover {
    color: black;
    background-color: #8e8472; }

nav {
  background-color: rgba(0, 0, 0, 0.5); }
  nav a img {
    width: 50px; }
  nav div ul li a {
    font-size: 1em;
    font-weight: 500;
    text-decoration: auto; }
    nav div ul li a:hover {
      color: wheat !important;
      text-decoration: underline overline; }

footer div div h5 {
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  color: white; }

footer h5 {
  color: #5c5c5c;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none; }
  footer h5 strong {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none; }

header .presentacion {
  width: 100%;
  background: white;
  background: radial-gradient(circle, white 51%, rgba(34, 0, 33, 0.700718) 75%); }
  header .presentacion h1 {
    font-size: 2.2em;
    font-weight: 600;
    text-decoration: none;
    border-bottom: solid 0.5px #260027; }
    @media (max-width: 992px) {
      header .presentacion h1 {
        font-size: 1.8em;
        font-weight: 600;
        text-decoration: none; } }
    @media (max-width: 577px) {
      header .presentacion h1 {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none; } }
  header .presentacion h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none; }
    @media (max-width: 992px) {
      header .presentacion h3 {
        font-size: 1em;
        font-weight: 400;
        text-decoration: none; } }
    @media (max-width: 577px) {
      header .presentacion h3 {
        font-size: 0.9em;
        font-weight: 400;
        text-decoration: none;
        padding-left: 50px;
        padding-right: 50px; } }

main section div ul li {
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none; }

main section div h3 {
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 20px; }
  @media (max-width: 992px) {
    main section div h3 {
      font-size: 1.1em;
      font-weight: 500;
      text-decoration: none; } }
  main section div h3 a:hover {
    color: #fbecd1;
    font-size: auto;
    font-weight: auto;
    text-decoration: underline; }
    @media (max-width: 992px) {
      main section div h3 a:hover {
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none; } }

#presentacionFr div {
  border: none; }
  #presentacionFr div h2 {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none; }
    #presentacionFr div h2 .accordion-button {
      font-size: 0.7em;
      font-weight: 500;
      text-decoration: none;
      background-color: #050505; }
  #presentacionFr div p {
    font-size: 1em;
    font-weight: 300;
    text-decoration: none; }

#equipodetrabajo div h1 {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 992px) {
    #equipodetrabajo div h1 {
      font-size: 1.8em;
      font-weight: 600;
      text-decoration: none; } }
  @media (max-width: 577px) {
    #equipodetrabajo div h1 {
      font-size: 1.6em;
      font-weight: 600;
      text-decoration: none; } }

#equipodetrabajo div div div h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 577px) {
    #equipodetrabajo div div div h2 {
      font-size: 1.2em;
      font-weight: 600;
      text-decoration: none; } }

#equipodetrabajo div div div h3 {
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none; }
  @media (max-width: 577px) {
    #equipodetrabajo div div div h3 {
      font-size: 1em;
      font-weight: 400;
      text-decoration: none; } }

#equipodetrabajo div div div p {
  font-size: 1em;
  font-weight: 300;
  text-decoration: none; }

#equipodetrabajo div div div img {
  border-radius: 50%; }

@media (max-width: 577px) {
  #equipodetrabajo .imgFluidXS {
    width: 70%; }
  #equipodetrabajo .xsFlex {
    display: flex; }
  #equipodetrabajo .order1 {
    order: 1; }
  #equipodetrabajo .order2 {
    order: 2; } }

.titleServicios h1 {
  font-size: 2.2em;
  font-weight: 600;
  text-decoration: underline #fbecd1; }
  @media (max-width: 992px) {
    .titleServicios h1 {
      font-size: 2em;
      font-weight: 600;
      text-decoration: underline #fbecd1; } }

.cardServicios h2 {
  font-size: 1.7em;
  font-weight: 500;
  text-decoration: none; }

.cardServicios .wCard {
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 50%;
  width: 20rem; }
  @media (max-width: 577px) {
    .cardServicios .wCard {
      width: 60vw; } }

@keyframes animationServ {
  0% {
    border-radius: 0%; }
  10% {
    border-radius: 5%; }
  20% {
    border-radius: 10%; }
  30% {
    border-radius: 15%; }
  40% {
    border-radius: 20%; }
  50% {
    border-radius: 25%; }
  60% {
    border-radius: 30; }
  70% {
    border-radius: 35%; }
  80% {
    border-radius: 40%; }
  90% {
    border-radius: 45%; }
  100% {
    border-radius: 50%; } }

.cardServicios .animationCard {
  animation-name: animationServ;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-duration: 3s; }

/*TRABAJO*/
#trabajoMain div h1 {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 992px) {
    #trabajoMain div h1 {
      font-size: 1.8em;
      font-weight: 600;
      text-decoration: none; } }

#trabajoMain div h3 {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none; }

#trabajoMain .formaTrabajo {
  grid-template-columns: 62% 27%;
  grid-template-rows: auto;
  grid-template-areas: "gif jpgUno" "gif jpgDos";
  justify-content: center; }
  #trabajoMain .formaTrabajo .gif {
    grid-area: gif; }
  #trabajoMain .formaTrabajo .jpgUno {
    grid-area: jpgUno; }
  #trabajoMain .formaTrabajo .jpgDos {
    grid-area: jpgDos; }

.indumentaria h2 {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 992px) {
    .indumentaria h2 {
      font-size: 1.7em;
      font-weight: 600;
      text-decoration: none; } }

.indumentaria .imgIndumentaria {
  width: 24%; }
  @media (max-width: 1200px) {
    .indumentaria .imgIndumentaria {
      width: 30%; } }
  @media (max-width: 991px) {
    .indumentaria .imgIndumentaria {
      width: 40%; } }

.headContacto h1 {
  font-size: 2.2em;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 992px) {
    .headContacto h1 {
      font-size: 1.8em;
      font-weight: 600;
      text-decoration: none; } }

.headContacto h2 {
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none; }
  @media (max-width: 992px) {
    .headContacto h2 {
      font-size: 1.5em;
      font-weight: 600;
      text-decoration: none; } }

.mainContacto h2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none; }

.mainContacto h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none; }
  @media (max-width: 992px) {
    .mainContacto h3 {
      font-size: 1.3em;
      font-weight: 400;
      text-decoration: none; } }

.mainContacto form fieldset input {
  margin: auto;
  max-width: 400px; }

.mainContacto form fieldset .fontLabel {
  font-size: 1.2em;
  font-weight: 300;
  text-decoration: none; }
