
//FONT Y TEXTO

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

$fontPrincipal: 'Montserrat', sans-serif;

//Peso
$pesoS: 300;
$pesoM: 400;
$pesoL: 500;
$pesoXl: 600;


//Text Decoration
$decorationNone: none;
$decorationSubrayado: underline;
$decorationSobrerayado: overline;
//



//MAPS COLORES
$paletaColor:(
    'blanco': rgb(255, 255, 255),
    'negro': rgb(0,0,0),
    'negroSecundario': rgb(5, 5, 5),
    'dorado': rgb(245, 222, 179),
    'doradoSecundario': rgb(251, 236, 209),
    'gris': rgb(92, 92, 92),
    'bgNegro': rgba(0, 0, 0, 0.5),
    'bgClaro': rgba(225, 225, 225, 0.9),
    'bgDorado': rgb(142, 132, 114),
);
//


//MIXIN
@mixin texto($size, $peso, $decoracion){
    font-size: $size;
    font-weight: $peso;
    text-decoration: $decoracion;
}
//  h1{  @include texto(2.2em, $pesoXl, 2em)  }